@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


* {
    box-sizing: border-box;
}

body, #weather-desc, #status {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

/* ==========================
        Typography
========================== */

.logo a {
    font-family: 'Monoton', cursive;
    color: ivory;
    background-color: rgb(62, 190, 51);
    text-decoration-line: none;
    text-transform: uppercase;
    font-size: 36px;
}

.rate {
    font-weight: 700;
}

.options p {
    margin: 0;
}

.temp {
    font-size: 4rem;
}

/* ==========================
        Layout
========================== */

header, footer {
    background-color: rgb(62, 190, 51);
    padding: .5em 2em;
}

footer {
    margin-bottom: 0;
}

main {
    width: 80%;
    margin: 3em auto;
}

header, .weatherData,
.weatherInfo, .info,
.calendarHolder, .options,
nav, .temp-box, .rate,
.btn-fav, .temp-btn {
    display: flex;
}

#event-form {
    text-align: center;
}

.calendarHolder {
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.temp-btn {
    flex-direction: column;
   }

.inpt {
    width: 100%;
    background-color: aliceblue;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

button,
input.btn-evt {
    background-color: #0d6efd;
    padding: 1em;
    border: 0;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    margin-bottom: 1em;
}

.btn-evt {
    width: 50%;
    margin: auto auto 0 auto;
}

header, .options,
.temp-box {
    align-items: center;
}

header, .weatherData,
.weatherInfo, .info,
nav, .options,
.temp-box, .rate,
.btn-fav {
    justify-content: space-between;
}

.weatherData {
    margin-bottom: 4em;
}

.btn-fav button {
    width: 48%;
}

i {
    vertical-align: middle;
}

.temp-box, .rate {
    width: 80%;
    margin: 0 auto;
}

.box{
    width: 30%;
    box-shadow: 2px 2px 6px black;
    padding: 1em;
}

.box h3 {
    text-align: center;
}

section.card.news h2 {
    text-align: center;
}

.card,
.options select {
    width: 65%;
}

.places, .news,
.calendarHolder {
    box-shadow: 2px 2px 6px black;
    padding: 1em;
}

.places, nav,
.calendarHolder {
    width: 48%;
}

.places p,
#time {
    font-family: 'Rubik Gemstones', cursive;
}

nav input {
    width: 75%;
    border-radius: 50px;
    border: 0;
}

input,
select {
    padding: .7em;
    border: 1px solid gray;
}

input:hover,
input:focus,
button:hover,
button:focus {
    background-color: rgb(152, 152, 248);
    color: black;
}

.avatar {
    width: 18%;
}

.avatar img {
    width: 40%;
    float: right;
    border-radius: 50px;
}

footer {
    color: white;
    text-align: center;
    padding: 1em;
}



/* ==========================
       Media Query
========================== */

@media (max-width: 600px) {
    .weatherData, .info,
    .weatherInfo,
    header {
        flex-direction: column;
    }

    main, nav {
        width: 95%;
    }

    .card, .box,
    .places, .calendarHolder{
        width: 95%;
        margin: 1em auto;
    }

    .avatar img {
        width: 100%;
    }

    .calendarHolder {
        height: 60vh;
    }
}
