<html>
  <head>
    <title>seajro</title>
    <link rel="stylesheet" href="./css/style.css">
    <script type="text/javascript" src="./javascript/script.js"></script>
  </head>
  <body>
    <header></header>

    <div id="page_content">
      <div id="weather_and_event">
        <div id="temperature_info"></div>
        <div id="google_calender"></div>
        <div id="weather_news"></div>
      </div>

      <div id="favourite_and_loop">
        <div id="feedback_loop"></div>
        <div id="favourite"></div>
      </div>
    </div>

    <footer></footer>
  </body>
</html>
